<div class="container">
  <div class="row">
    <div class="col-sm-12">
    	<div class="btn-group btn-breadcrumb">
        <%= link_to root_path, class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-home"></i>
        <% end %>
        <%= link_to "Admin Area", admin_path, class: "btn btn-default" %>
        <%= link_to "Team Members", teams_path, class: "btn btn-default" %>
    	</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>Team Members  <%= link_to "Add New", new_team_path, class: "btn btn-primary" %></h1>
    </div>
  </div>


  <div class="row">
    <% @teams.each do |team| %>
      <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="text-center"><%= team.name %></h4>
          </div>
          <div class="panel-image hide-panel-body">
            <% if team.image? %>
              <%= image_tag team.image.thumb, width: "100%" %>
            <% end %>
          </div>
          <div class="panel-body">
            <p>Title: <%= team.title %></p>
          </div>
          <div class="panel-footer text-center">

            <p><%= link_to "edit", edit_team_path(team), class: "btn btn-primary btn-sm" %> <%= link_to 'delete',  team,  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
