<h1>Services</h1>

<% @services.each do |service| %>
  <p>Title: <%= link_to service.title, service %></p>
  <p><%= service.description %></p>
  <p><%= link_to "edit", edit_service_path(service) %></p>
  <p><%= link_to 'delete',  service,  method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<% end %>

<p><%= link_to "New Service", new_service_path %></p>
