<div class="container">
  <div class="row">
    <div class="col-sm-12">
    	<div class="btn-group btn-breadcrumb">
        <%= link_to root_path, class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-home"></i>
        <% end %>
        <%= link_to "Admin Area", admin_path, class: "btn btn-default" %>
        <%= link_to "Users", users_path, class: "btn btn-default" %>
    	</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>Website Users  <%= link_to "Add New User", new_user_invitation_path, class: "btn btn-primary" %></h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <% @users.each do |user| %>
      <p>
          <%= "#{user.email} (#{user.name})" %>
          <%= link_to('delete',  user,  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs") if user != current_user %>
      </p>
      <% end %>
    </div>
  </div>
</div>
