<p>Amin Area</p>
<p><%= link_to "Featured", features_path %></p>
<p><%= link_to "Services", services_path %></p>
<p><%= link_to "Categories", categories_path %></p>
<p><%= link_to "Products", products_path %></p>

<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
