<%= form_for @category, :html => {:multipart => true} do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.select :parent_id, nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }, {:include_blank => true} %>

  <%= f.submit "Save" %>
<% end %>
