<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group btn-breadcrumb">
        <%= link_to root_path, class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-home"></i>
        <% end %>
        <%= link_to "Admin Area", admin_path, class: "btn btn-default" %>
        <%= link_to "Categories", categories_path, class: "btn btn-default" %>
        <%= link_to "#{@category.name}", category_path(@category), class: "btn btn-default" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="btn-group pull-left">
              <%= link_to categories_path, class: "btn btn-default btn-sm" do %>
                <%= content_tag('i', nil, class: 'glyphicon glyphicon-chevron-left') %> Back
              <% end %>
            </div>
            <h4 class="text-center">Edit Category</h4>
        </div>
        <div class="panel-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
