<div class="container">
  <div class="row">
    <div class="col-sm-12">
    	<div class="btn-group btn-breadcrumb">
        <%= link_to root_path, class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-home"></i>
        <% end %>
        <%= link_to "Admin Area", admin_path, class: "btn btn-default" %>
        <%= link_to "Team Members", categories_path, class: "btn btn-default" %>
    	</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>Categories  <%= link_to "Add New", new_category_path, class: "btn btn-primary" %></h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <div class="categories">
        <%= nested_li(@categories) do |category| %>
          <h4>
            <%= category.name %>
            <%= link_to "edit", edit_category_path(category), class: "btn btn-default btn-xs margin-left-10" %>
            <%= link_to 'delete',  category,  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
          </h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
