<%= simple_form_for @product do |f| %>

  <%= f.input :name %>

  <%= f.input :image, as: :nice_image, required: true, label: false, input_html: { accept: "image/*" } %>

  <%= f.input :description %>

  <%= f.input :price %>

  <div class="field">
    <label>Categories</label>
    <%= hidden_field_tag "product[category_ids][]", nil %>
    <%= nested_li(@categories) do |category| %>
      <%= check_box_tag "product[category_ids][]", category.id, @product.category_ids.include?(category.id), id: dom_id(category) %>
      <%= label_tag dom_id(category), category.name %>
    <% end %>
  </div>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
