<h1>Products</h1>

<% @products.each do |product| %>
  <p><%= image_tag product.image.thumb if product.image? %></p>
  <p>name: <%= link_to product.name, product %></p>
  <p><%= product.description %></p>
  <p><%= product.price %></p>
  <p><%= link_to "edit", edit_product_path(product) %></p>
  <p><%= link_to 'delete',  product,  method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<% end %>

<p><%= link_to "New Product", new_product_path %></p>
