<%= simple_form_for @feature do |f| %>

  <%= f.input :title, placeholder: 'Title of the Feature' %>

  <%= f.input :image, as: :nice_image, required: true, label: false, input_html: { accept: "image/*" } %>

  <%= f.input :homepage, label: 'include on homepage' %>

  <%= f.button :submit %>
<% end %>
</div>
